In [4]:
import pandas as pd
import numpy as ny

data = pd.read_csv('./friendsData.csv')

In [6]:
data

     Unnamed: 0   id  current_user_id  user_id  room_id  created_at
0             0   26                4        1       15  2021-09-13
1             1   27                1        4       15  2021-09-13
2             2   28                1       96       16  2021-09-17
3             3   29                1       85       17  2021-09-17
4             4   30               85        1       17  2021-09-17
..          ...  ...              ...      ...      ...         ...
239         239  265                1      108      251  2021-09-18
240         240  266              163       95      252  2021-09-18
241         241  267              129      165      253  2021-09-18
242         242  268              137      156      254  2021-09-18
243         243  269               95      149      255  2021-09-18

[244 rows x 6 columns]

In [9]:
data['created_at']

0      2021-09-13
1      2021-09-13
2      2021-09-17
3      2021-09-17
4      2021-09-17
          ...
239    2021-09-18
240    2021-09-18
241    2021-09-18
242    2021-09-18
243    2021-09-18
Name: created_at, Length: 244, dtype: object

In [11]:
data['created_at'].value_counts()

2021-09-18    237
2021-09-17      5
2021-09-13      2
Name: created_at, dtype: int64

In [14]:
data['created_at'].value_counts().sort_index()

2021-09-13      2
2021-09-17      5
2021-09-18    237
Name: created_at, dtype: int64

In [16]:
data['created_at'].unique()

array(['2021-09-13', '2021-09-17', '2021-09-18'], dtype=object)