In [114]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randint(50,100, size=(10,5)), 
  index=[
    [ '1g' for i in range(5) ] + ['2g' for i in range(5) ],
    [str(i)+'c' for i in range(1, 6)] + [str(i)+'c' for i in range(1, 6)]
  ], columns=['K', 'E', 'M', 'O', 'S']
)
df

        K   E   M   O   S
1g 1c  50  89  93  51  94
   2c  74  98  76  73  61
   3c  81  95  95  90  59
   4c  54  83  58  97  52
   5c  93  83  66  79  76
2g 1c  96  85  59  97  77
   2c  55  57  87  97  63
   3c  71  98  61  51  64
   4c  65  83  83  57  60
   5c  53  90  56  98  54

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 10 entries, ('1g', '1c') to ('2g', '5c')
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   K       10 non-null     int64
 1   E       10 non-null     int64
 2   M       10 non-null     int64
 3   O       10 non-null     int64
 4   S       10 non-null     int64
dtypes: int64(5)
memory usage: 788.0+ bytes

In [116]:
df.dtypes

K    int64
E    int64
M    int64
O    int64
S    int64
dtype: object

In [117]:
print( df.head(3) )
print( df.tail(3) )

        K   E   M   O   S
1g 1c  50  89  93  51  94
   2c  74  98  76  73  61
   3c  81  95  95  90  59
        K   E   M   O   S
2g 3c  71  98  61  51  64
   4c  65  83  83  57  60
   5c  53  90  56  98  54

In [118]:
df.index

MultiIndex([('1g', '1c'),
            ('1g', '2c'),
            ('1g', '3c'),
            ('1g', '4c'),
            ('1g', '5c'),
            ('2g', '1c'),
            ('2g', '2c'),
            ('2g', '3c'),
            ('2g', '4c'),
            ('2g', '5c')],
           )

In [119]:
df.values

array([[50, 89, 93, 51, 94],
       [74, 98, 76, 73, 61],
       [81, 95, 95, 90, 59],
       [54, 83, 58, 97, 52],
       [93, 83, 66, 79, 76],
       [96, 85, 59, 97, 77],
       [55, 57, 87, 97, 63],
       [71, 98, 61, 51, 64],
       [65, 83, 83, 57, 60],
       [53, 90, 56, 98, 54]])

In [120]:
df.describe()

               K          E          M          O          S
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean   69.200000  86.100000  73.400000  79.000000  66.000000
std    16.771669  11.845768  15.240297  19.838235  12.771496
min    50.000000  57.000000  56.000000  51.000000  52.000000
25%    54.250000  83.000000  59.500000  61.000000  59.250000
50%    68.000000  87.000000  71.000000  84.500000  62.000000
75%    79.250000  93.750000  86.000000  97.000000  73.000000
max    96.000000  98.000000  95.000000  98.000000  94.000000

In [121]:
print( df.K )
print( df['K'] )
print( df[2:4] )

1g  1c    50
    2c    74
    3c    81
    4c    54
    5c    93
2g  1c    96
    2c    55
    3c    71
    4c    65
    5c    53
Name: K, dtype: int64
1g  1c    50
    2c    74
    3c    81
    4c    54
    5c    93
2g  1c    96
    2c    55
    3c    71
    4c    65
    5c    53
Name: K, dtype: int64
        K   E   M   O   S
1g 3c  81  95  95  90  59
   4c  54  83  58  97  52

In [122]:
df[['K', 'E']]

        K   E
1g 1c  50  89
   2c  74  98
   3c  81  95
   4c  54  83
   5c  93  83
2g 1c  96  85
   2c  55  57
   3c  71  98
   4c  65  83
   5c  53  90

In [123]:
print( df.loc[:'1g', ['K', 'O']] )
print( df.loc[:'1g', ['K', 'O']][2:4:] )

        K   O
1g 1c  50  51
   2c  74  73
   3c  81  90
   4c  54  97
   5c  93  79
        K   O
1g 3c  81  90
   4c  54  97

In [124]:
df_3 = pd.DataFrame(np.random.randint(50,100, size=(5,5)),
  index=[
    ['3g' for i in range(5)],
    [str(i)+'c' for i in range(1, 6)]
  ],
  columns=['K','E','M','O','S']
)

print( df_3 )

df = df.append(df_3)

df

        K   E   M   O   S
3g 1c  62  70  72  59  74
   2c  92  63  53  91  81
   3c  67  57  89  97  99
   4c  56  95  89  79  85
   5c  65  69  70  87  59

        K   E   M   O   S
1g 1c  50  89  93  51  94
   2c  74  98  76  73  61
   3c  81  95  95  90  59
   4c  54  83  58  97  52
   5c  93  83  66  79  76
2g 1c  96  85  59  97  77
   2c  55  57  87  97  63
   3c  71  98  61  51  64
   4c  65  83  83  57  60
   5c  53  90  56  98  54
3g 1c  62  70  72  59  74
   2c  92  63  53  91  81
   3c  67  57  89  97  99
   4c  56  95  89  79  85
   5c  65  69  70  87  59

In [125]:
for i in df:
  print(i, df[i])

df['K']

K 1g  1c    50
    2c    74
    3c    81
    4c    54
    5c    93
2g  1c    96
    2c    55
    3c    71
    4c    65
    5c    53
3g  1c    62
    2c    92
    3c    67
    4c    56
    5c    65
Name: K, dtype: int64
E 1g  1c    89
    2c    98
    3c    95
    4c    83
    5c    83
2g  1c    85
    2c    57
    3c    98
    4c    83
    5c    90
3g  1c    70
    2c    63
    3c    57
    4c    95
    5c    69
Name: E, dtype: int64
M 1g  1c    93
    2c    76
    3c    95
    4c    58
    5c    66
2g  1c    59
    2c    87
    3c    61
    4c    83
    5c    56
3g  1c    72
    2c    53
    3c    89
    4c    89
    5c    70
Name: M, dtype: int64
O 1g  1c    51
    2c    73
    3c    90
    4c    97
    5c    79
2g  1c    97
    2c    97
    3c    51
    4c    57
    5c    98
3g  1c    59
    2c    91
    3c    97
    4c    79
    5c    87
Name: O, dtype: int64
S 1g  1c    94
    2c    61
    3c    59
    4c    52
    5c    76
2g  1c    77
    2c    63
    3c    64
    4c    60
    5c    54
3g  1c    74
    2c    81
    3c    99
    4c    85
    5c    59
Name: S, dtype: int64

1g  1c    50
    2c    74
    3c    81
    4c    54
    5c    93
2g  1c    96
    2c    55
    3c    71
    4c    65
    5c    53
3g  1c    62
    2c    92
    3c    67
    4c    56
    5c    65
Name: K, dtype: int64

In [126]:
df['avg'] = (df['K'] + df['E'] + df['M'] +df['O'] + df['S']) / 5
df

        K   E   M   O   S   avg
1g 1c  50  89  93  51  94  75.4
   2c  74  98  76  73  61  76.4
   3c  81  95  95  90  59  84.0
   4c  54  83  58  97  52  68.8
   5c  93  83  66  79  76  79.4
2g 1c  96  85  59  97  77  82.8
   2c  55  57  87  97  63  71.8
   3c  71  98  61  51  64  69.0
   4c  65  83  83  57  60  69.6
   5c  53  90  56  98  54  70.2
3g 1c  62  70  72  59  74  67.4
   2c  92  63  53  91  81  76.0
   3c  67  57  89  97  99  81.8
   4c  56  95  89  79  85  80.8
   5c  65  69  70  87  59  70.0

In [127]:
print( df.size, len(df.values), len(df), df.ndim) 
print(df.count())
print(df.shape)
print(df.mean())

90 15 15 2
K      15
E      15
M      15
O      15
S      15
avg    15
dtype: int64
(15, 6)
K      68.933333
E      81.000000
M      73.800000
O      80.200000
S      70.533333
avg    74.893333
dtype: float64

In [128]:
df.loc['1g']['M'] = df.loc['1g']['M'] + 10
df

/tmp/ipykernel_2112/2228626240.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc['1g']['M'] = df.loc['1g']['M'] + 10

        K   E    M   O   S   avg
1g 1c  50  89  103  51  94  75.4
   2c  74  98   86  73  61  76.4
   3c  81  95  105  90  59  84.0
   4c  54  83   68  97  52  68.8
   5c  93  83   76  79  76  79.4
2g 1c  96  85   59  97  77  82.8
   2c  55  57   87  97  63  71.8
   3c  71  98   61  51  64  69.0
   4c  65  83   83  57  60  69.6
   5c  53  90   56  98  54  70.2
3g 1c  62  70   72  59  74  67.4
   2c  92  63   53  91  81  76.0
   3c  67  57   89  97  99  81.8
   4c  56  95   89  79  85  80.8
   5c  65  69   70  87  59  70.0

In [130]:
df[df['M'] > 80]

        K   E    M   O   S   avg
1g 1c  50  89  103  51  94  75.4
   2c  74  98   86  73  61  76.4
   3c  81  95  105  90  59  84.0
2g 2c  55  57   87  97  63  71.8
   4c  65  83   83  57  60  69.6
3g 3c  67  57   89  97  99  81.8
   4c  56  95   89  79  85  80.8

In [132]:
df.cov()

              K           E           M           O           S        avg
K    235.638095    1.571429  -72.633333   48.228571   26.323810  46.778095
E      1.571429  206.000000   30.214286  -97.785714  -57.500000  10.357143
M    -72.633333   30.214286  265.552381  -63.814286   63.352381  37.058095
O     48.228571  -97.785714  -63.814286  318.028571  -35.900000  35.322857
S     26.323810  -57.500000   63.352381  -35.900000  210.552381  42.889524
avg   46.778095   10.357143   37.058095   35.322857   42.889524  33.119238

In [134]:
df['K'].corr(df['O'])

0.17617674304901507