In [7]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randint(50,100, size=(10,5)), index=[
  [ '1g' for i in range(5) ] + ['2g' for i in range(5) ], [str(i)+'c' for i in range(1, 6)] + [str(i)+'c' for i in range(1, 6)]
], columns=['K', 'E', 'M', 'O', 'S'])
df

        K   E   M   O   S
1g 1c  51  67  67  90  58
   2c  81  95  57  93  67
   3c  69  88  92  82  87
   4c  75  99  61  51  85
   5c  53  77  57  84  58
2g 1c  75  82  59  53  64
   2c  74  87  96  78  61
   3c  58  81  54  92  90
   4c  79  73  51  72  75
   5c  76  59  52  90  83

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 10 entries, ('1g', '1c') to ('2g', '5c')
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   K       10 non-null     int64
 1   E       10 non-null     int64
 2   M       10 non-null     int64
 3   O       10 non-null     int64
 4   S       10 non-null     int64
dtypes: int64(5)
memory usage: 788.0+ bytes

In [12]:
df.dtypes

K    int64
E    int64
M    int64
O    int64
S    int64
dtype: object

In [16]:
print( df.head(3) )
print( df.tail(3) )

        K   E   M   O   S
1g 1c  51  67  67  90  58
   2c  81  95  57  93  67
   3c  69  88  92  82  87
        K   E   M   O   S
2g 3c  58  81  54  92  90
   4c  79  73  51  72  75
   5c  76  59  52  90  83

In [17]:
df.index

MultiIndex([('1g', '1c'),
            ('1g', '2c'),
            ('1g', '3c'),
            ('1g', '4c'),
            ('1g', '5c'),
            ('2g', '1c'),
            ('2g', '2c'),
            ('2g', '3c'),
            ('2g', '4c'),
            ('2g', '5c')],
           )

In [18]:
df.values

array([[51, 67, 67, 90, 58],
       [81, 95, 57, 93, 67],
       [69, 88, 92, 82, 87],
       [75, 99, 61, 51, 85],
       [53, 77, 57, 84, 58],
       [75, 82, 59, 53, 64],
       [74, 87, 96, 78, 61],
       [58, 81, 54, 92, 90],
       [79, 73, 51, 72, 75],
       [76, 59, 52, 90, 83]])

In [19]:
df.describe()

               K          E          M          O          S
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean   69.100000  80.800000  64.600000  78.500000  72.800000
std    11.009592  12.318008  16.187787  15.450638  12.664912
min    51.000000  59.000000  51.000000  51.000000  58.000000
25%    60.750000  74.000000  54.750000  73.500000  61.750000
50%    74.500000  81.500000  58.000000  83.000000  71.000000
75%    75.750000  87.750000  65.500000  90.000000  84.500000
max    81.000000  99.000000  96.000000  93.000000  90.000000

In [23]:
print( df.K )
print( df['K'] )
print( df[2:4] )

1g  1c    51
    2c    81
    3c    69
    4c    75
    5c    53
2g  1c    75
    2c    74
    3c    58
    4c    79
    5c    76
Name: K, dtype: int64
1g  1c    51
    2c    81
    3c    69
    4c    75
    5c    53
2g  1c    75
    2c    74
    3c    58
    4c    79
    5c    76
Name: K, dtype: int64
        K   E   M   O   S
1g 3c  69  88  92  82  87
   4c  75  99  61  51  85

In [25]:
df[['K', 'E']]

        K   E
1g 1c  51  67
   2c  81  95
   3c  69  88
   4c  75  99
   5c  53  77
2g 1c  75  82
   2c  74  87
   3c  58  81
   4c  79  73
   5c  76  59

In [46]:
print( df.loc[:'1g', ['K', 'O']] )
print( df.loc[:'1g', ['K', 'O']][2:4:] )

        K   O
1g 1c  51  90
   2c  81  93
   3c  69  82
   4c  75  51
   5c  53  84
        K   O
1g 3c  69  82
   4c  75  51