In [26]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randint(50,100, size=(10,5)), 
  index=[
    [ '1g' for i in range(5) ] + ['2g' for i in range(5) ],
    [str(i)+'c' for i in range(1, 6)] + [str(i)+'c' for i in range(1, 6)]
  ], columns=['K', 'E', 'M', 'O', 'S']
)
df

        K   E   M   O   S
1g 1c  97  98  58  98  60
   2c  65  92  77  52  94
   3c  86  56  70  81  62
   4c  63  50  75  84  67
   5c  78  85  70  57  82
2g 1c  93  70  57  86  62
   2c  72  81  92  81  76
   3c  96  71  62  57  99
   4c  92  89  90  94  56
   5c  80  85  78  59  60

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 10 entries, ('1g', '1c') to ('2g', '5c')
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   K       10 non-null     int64
 1   E       10 non-null     int64
 2   M       10 non-null     int64
 3   O       10 non-null     int64
 4   S       10 non-null     int64
dtypes: int64(5)
memory usage: 788.0+ bytes

In [28]:
df.dtypes

K    int64
E    int64
M    int64
O    int64
S    int64
dtype: object

In [29]:
print( df.head(3) )
print( df.tail(3) )

        K   E   M   O   S
1g 1c  97  98  58  98  60
   2c  65  92  77  52  94
   3c  86  56  70  81  62
        K   E   M   O   S
2g 3c  96  71  62  57  99
   4c  92  89  90  94  56
   5c  80  85  78  59  60

In [30]:
df.index

MultiIndex([('1g', '1c'),
            ('1g', '2c'),
            ('1g', '3c'),
            ('1g', '4c'),
            ('1g', '5c'),
            ('2g', '1c'),
            ('2g', '2c'),
            ('2g', '3c'),
            ('2g', '4c'),
            ('2g', '5c')],
           )

In [31]:
df.values

array([[97, 98, 58, 98, 60],
       [65, 92, 77, 52, 94],
       [86, 56, 70, 81, 62],
       [63, 50, 75, 84, 67],
       [78, 85, 70, 57, 82],
       [93, 70, 57, 86, 62],
       [72, 81, 92, 81, 76],
       [96, 71, 62, 57, 99],
       [92, 89, 90, 94, 56],
       [80, 85, 78, 59, 60]])

In [32]:
df.describe()

               K          E          M          O          S
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean   82.200000  77.700000  72.900000  74.900000  71.800000
std    12.594531  15.649281  12.087183  16.986596  15.266521
min    63.000000  50.000000  57.000000  52.000000  56.000000
25%    73.500000  70.250000  64.000000  57.500000  60.500000
50%    83.000000  83.000000  72.500000  81.000000  64.500000
75%    92.750000  88.000000  77.750000  85.500000  80.500000
max    97.000000  98.000000  92.000000  98.000000  99.000000

In [33]:
print( df.K )
print( df['K'] )
print( df[2:4] )

1g  1c    97
    2c    65
    3c    86
    4c    63
    5c    78
2g  1c    93
    2c    72
    3c    96
    4c    92
    5c    80
Name: K, dtype: int64
1g  1c    97
    2c    65
    3c    86
    4c    63
    5c    78
2g  1c    93
    2c    72
    3c    96
    4c    92
    5c    80
Name: K, dtype: int64
        K   E   M   O   S
1g 3c  86  56  70  81  62
   4c  63  50  75  84  67

In [34]:
df[['K', 'E']]

        K   E
1g 1c  97  98
   2c  65  92
   3c  86  56
   4c  63  50
   5c  78  85
2g 1c  93  70
   2c  72  81
   3c  96  71
   4c  92  89
   5c  80  85

In [35]:
print( df.loc[:'1g', ['K', 'O']] )
print( df.loc[:'1g', ['K', 'O']][2:4:] )

        K   O
1g 1c  97  98
   2c  65  52
   3c  86  81
   4c  63  84
   5c  78  57
        K   O
1g 3c  86  81
   4c  63  84

In [36]:
df_3 = pd.DataFrame(np.random.randint(50,100, size=(5,5)),
  index=[
    ['3g' for i in range(5)],
    [str(i)+'c' for i in range(1, 6)]
  ],
  columns=['K','E','M','O','S']
)

print( df_3 )

df = df.append(df_3)

df

        K   E   M   O   S
3g 1c  62  93  51  98  50
   2c  62  53  56  55  85
   3c  57  69  66  88  92
   4c  95  75  75  52  78
   5c  83  81  67  72  97

        K   E   M   O   S
1g 1c  97  98  58  98  60
   2c  65  92  77  52  94
   3c  86  56  70  81  62
   4c  63  50  75  84  67
   5c  78  85  70  57  82
2g 1c  93  70  57  86  62
   2c  72  81  92  81  76
   3c  96  71  62  57  99
   4c  92  89  90  94  56
   5c  80  85  78  59  60
3g 1c  62  93  51  98  50
   2c  62  53  56  55  85
   3c  57  69  66  88  92
   4c  95  75  75  52  78
   5c  83  81  67  72  97

In [37]:
for i in df:
  print(i, df[i])

df['K']

K 1g  1c    97
    2c    65
    3c    86
    4c    63
    5c    78
2g  1c    93
    2c    72
    3c    96
    4c    92
    5c    80
3g  1c    62
    2c    62
    3c    57
    4c    95
    5c    83
Name: K, dtype: int64
E 1g  1c    98
    2c    92
    3c    56
    4c    50
    5c    85
2g  1c    70
    2c    81
    3c    71
    4c    89
    5c    85
3g  1c    93
    2c    53
    3c    69
    4c    75
    5c    81
Name: E, dtype: int64
M 1g  1c    58
    2c    77
    3c    70
    4c    75
    5c    70
2g  1c    57
    2c    92
    3c    62
    4c    90
    5c    78
3g  1c    51
    2c    56
    3c    66
    4c    75
    5c    67
Name: M, dtype: int64
O 1g  1c    98
    2c    52
    3c    81
    4c    84
    5c    57
2g  1c    86
    2c    81
    3c    57
    4c    94
    5c    59
3g  1c    98
    2c    55
    3c    88
    4c    52
    5c    72
Name: O, dtype: int64
S 1g  1c    60
    2c    94
    3c    62
    4c    67
    5c    82
2g  1c    62
    2c    76
    3c    99
    4c    56
    5c    60
3g  1c    50
    2c    85
    3c    92
    4c    78
    5c    97
Name: S, dtype: int64

1g  1c    97
    2c    65
    3c    86
    4c    63
    5c    78
2g  1c    93
    2c    72
    3c    96
    4c    92
    5c    80
3g  1c    62
    2c    62
    3c    57
    4c    95
    5c    83
Name: K, dtype: int64

In [38]:
df['avg'] = (df['K'] + df['E'] + df['M'] +df['O'] + df['S']) / 5
df

        K   E   M   O   S   avg
1g 1c  97  98  58  98  60  82.2
   2c  65  92  77  52  94  76.0
   3c  86  56  70  81  62  71.0
   4c  63  50  75  84  67  67.8
   5c  78  85  70  57  82  74.4
2g 1c  93  70  57  86  62  73.6
   2c  72  81  92  81  76  80.4
   3c  96  71  62  57  99  77.0
   4c  92  89  90  94  56  84.2
   5c  80  85  78  59  60  72.4
3g 1c  62  93  51  98  50  70.8
   2c  62  53  56  55  85  62.2
   3c  57  69  66  88  92  74.4
   4c  95  75  75  52  78  75.0
   5c  83  81  67  72  97  80.0

In [39]:
print( df.size, len(df.values), len(df), df.ndim) 
print(df.count())
print(df.shape)
print(df.mean())

90 15 15 2
K      15
E      15
M      15
O      15
S      15
avg    15
dtype: int64
(15, 6)
K      78.733333
E      76.533333
M      69.600000
O      74.266667
S      74.666667
avg    74.760000
dtype: float64

In [40]:
df.loc['1g']['M'] = df.loc['1g']['M'] + 10
df

/tmp/ipykernel_3041/2228626240.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc['1g']['M'] = df.loc['1g']['M'] + 10

        K   E   M   O   S   avg
1g 1c  97  98  68  98  60  82.2
   2c  65  92  87  52  94  76.0
   3c  86  56  80  81  62  71.0
   4c  63  50  85  84  67  67.8
   5c  78  85  80  57  82  74.4
2g 1c  93  70  57  86  62  73.6
   2c  72  81  92  81  76  80.4
   3c  96  71  62  57  99  77.0
   4c  92  89  90  94  56  84.2
   5c  80  85  78  59  60  72.4
3g 1c  62  93  51  98  50  70.8
   2c  62  53  56  55  85  62.2
   3c  57  69  66  88  92  74.4
   4c  95  75  75  52  78  75.0
   5c  83  81  67  72  97  80.0

In [41]:
df[df['M'] > 80]

        K   E   M   O   S   avg
1g 2c  65  92  87  52  94  76.0
   4c  63  50  85  84  67  67.8
2g 2c  72  81  92  81  76  80.4
   4c  92  89  90  94  56  84.2

In [42]:
df.cov()

              K           E           M           O           S        avg
K    204.495238   48.223810    5.052381   -2.209524  -38.095238  44.160000
E     48.223810  222.980952   19.395238   39.490476  -41.309524  57.994286
M      5.052381   19.395238  169.780952  -22.838095   -6.952381  27.840000
O     -2.209524   39.490476  -22.838095  301.780952 -174.333333  28.282857
S    -38.095238  -41.309524   -6.952381 -174.333333  264.666667   1.985714
avg   44.160000   57.994286   27.840000   28.282857    1.985714  32.395429

In [43]:
df['K'].corr(df['O'])

-0.00889428770879769

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 15 entries, ('1g', '1c') to ('3g', '5c')
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   K       15 non-null     int64
 1   E       15 non-null     int64
 2   M       15 non-null     int64
 3   O       15 non-null     int64
 4   S       15 non-null     int64
 5   avg     15 non-null     float64
dtypes: float64(1), int64(5)
memory usage: 1.1+ KB

In [61]:
df['M'] = np.nan
df

        K   E   M   O   S   avg
1g 1c  97  98 NaN  98  60  82.2
   2c  65  92 NaN  52  94  76.0
   3c  86  56 NaN  81  62  71.0
   4c  63  50 NaN  84  67  67.8
   5c  78  85 NaN  57  82  74.4
2g 1c  93  70 NaN  86  62  73.6
   2c  72  81 NaN  81  76  80.4
   3c  96  71 NaN  57  99  77.0
   4c  92  89 NaN  94  56  84.2
   5c  80  85 NaN  59  60  72.4
3g 1c  62  93 NaN  98  50  70.8
   2c  62  53 NaN  55  85  62.2
   3c  57  69 NaN  88  92  74.4
   4c  95  75 NaN  52  78  75.0
   5c  83  81 NaN  72  97  80.0

In [55]:
df.isna()

           K      E     M      O      S    avg
1g 1c  False  False  True  False  False  False
   2c  False  False  True  False  False  False
   3c  False  False  True  False  False  False
   4c  False  False  True  False  False  False
   5c  False  False  True  False  False  False
2g 1c  False  False  True  False  False  False
   2c  False  False  True  False  False  False
   3c  False  False  True  False  False  False
   4c  False  False  True  False  False  False
   5c  False  False  True  False  False  False
3g 1c  False  False  True  False  False  False
   2c  False  False  True  False  False  False
   3c  False  False  True  False  False  False
   4c  False  False  True  False  False  False
   5c  False  False  True  False  False  False

In [51]:
df.fillna(50)

        K   E     M   O   S   avg
1g 1c  97  98  50.0  98  60  82.2
   2c  65  92  50.0  52  94  76.0
   3c  86  56  50.0  81  62  71.0
   4c  63  50  50.0  84  67  67.8
   5c  78  85  50.0  57  82  74.4
2g 1c  93  70  50.0  86  62  73.6
   2c  72  81  50.0  81  76  80.4
   3c  96  71  50.0  57  99  77.0
   4c  92  89  50.0  94  56  84.2
   5c  80  85  50.0  59  60  72.4
3g 1c  62  93  50.0  98  50  70.8
   2c  62  53  50.0  55  85  62.2
   3c  57  69  50.0  88  92  74.4
   4c  95  75  50.0  52  78  75.0
   5c  83  81  50.0  72  97  80.0

In [86]:
df = df.fillna(int(max(df.mean())))
# df['M'].astype('int64')
df = df.astype({'M':'int64'})
df

        K   E   M   O   S   avg
1g 1c  97  98  78  98  60  82.2
   2c  65  92  78  52  94  76.0
   3c  86  56  78  81  62  71.0
   4c  63  50  78  84  67  67.8
   5c  78  85  78  57  82  74.4
2g 1c  93  70  78  86  62  73.6
   2c  72  81  78  81  76  80.4
   3c  96  71  78  57  99  77.0
   4c  92  89  78  94  56  84.2
   5c  80  85  78  59  60  72.4
3g 1c  62  93  78  98  50  70.8
   2c  62  53  78  55  85  62.2
   3c  57  69  78  88  92  74.4
   4c  95  75  78  52  78  75.0
   5c  83  81  78  72  97  80.0

In [88]:
df.T

       1g                            2g                            3g        \
       1c    2c    3c    4c    5c    1c    2c    3c    4c    5c    1c    2c
K    97.0  65.0  86.0  63.0  78.0  93.0  72.0  96.0  92.0  80.0  62.0  62.0
E    98.0  92.0  56.0  50.0  85.0  70.0  81.0  71.0  89.0  85.0  93.0  53.0
M    78.0  78.0  78.0  78.0  78.0  78.0  78.0  78.0  78.0  78.0  78.0  78.0
O    98.0  52.0  81.0  84.0  57.0  86.0  81.0  57.0  94.0  59.0  98.0  55.0
S    60.0  94.0  62.0  67.0  82.0  62.0  76.0  99.0  56.0  60.0  50.0  85.0
avg  82.2  76.0  71.0  67.8  74.4  73.6  80.4  77.0  84.2  72.4  70.8  62.2


       3c    4c    5c
K    57.0  95.0  83.0
E    69.0  75.0  81.0
M    78.0  78.0  78.0
O    88.0  52.0  72.0
S    92.0  78.0  97.0
avg  74.4  75.0  80.0

In [90]:
df.apply(max)

K      97.0
E      98.0
M      78.0
O      98.0
S      99.0
avg    84.2
dtype: float64

In [92]:
df.apply(min)

K      57.0
E      50.0
M      78.0
O      52.0
S      50.0
avg    62.2
dtype: float64

In [94]:
df.apply( lambda x: x.max() - x.min() )

K      40.0
E      48.0
M       0.0
O      46.0
S      49.0
avg    22.0
dtype: float64

In [96]:
df.sort_values('K', ascending=False)

        K   E   M   O   S   avg
1g 1c  97  98  78  98  60  82.2
2g 3c  96  71  78  57  99  77.0
3g 4c  95  75  78  52  78  75.0
2g 1c  93  70  78  86  62  73.6
   4c  92  89  78  94  56  84.2
1g 3c  86  56  78  81  62  71.0
3g 5c  83  81  78  72  97  80.0
2g 5c  80  85  78  59  60  72.4
1g 5c  78  85  78  57  82  74.4
2g 2c  72  81  78  81  76  80.4
1g 2c  65  92  78  52  94  76.0
   4c  63  50  78  84  67  67.8
3g 1c  62  93  78  98  50  70.8
   2c  62  53  78  55  85  62.2
   3c  57  69  78  88  92  74.4

In [98]:
df.to_csv('scores.csv', encoding='utf-8-sig')