In [4]:
import numpy as np
import pandas as pd

data1 = {
  'aligator'    : 10,
  'bear'        : 83,
  'cheeta'      : 120,
  'dear'        : 80,
  'elephant'    : 150,
  'fox'         : 130,
  'giraffe'     : 75,
  'hippo'       : 67,
  'impala'      : 81,
  'jaguar'      : 119,
  'kangaroo'    : 98,
  'lion'        : 134,
  'moose'       : 99,
  'nightingale' : 22,
  'ox'          : 106,
  'panda'       : 88,
  'quokka'      : 139,
  'rabbit'      : 89,
  'snake'       : 22,
  'tiger'       : 150,
  'unau'        : 111,
  'vulture'     : 63,
  'whale'       : 148,
  'xeme'        : 56,
  'yak'         : 102,
  'zeebra'      : 107
}

data2 = {
  'aligator'    : 113,
  'bear'        : 222,
  'cheeta'      : 136,
  'dear'        : 144,
  'elephant'    : 143,
  'fox'         : 165,
  'giraffe'     : 199,
  'hippo'       : 427,
  'impala'      : 155,
  'jaguar'      : 124,
  'kangaroo'    : 143,
  'lion'        : 320,
  'moose'       : 143,
  'nightingale' : 169,
  'ox'          : 170,
  'panda'       : 128,
  'quokka'      : 423,
  'rabbit'      : 228,
  'snake'       : 153,
  'tiger'       : 303,
  'unau'        : 183,
  'vulture'     : 423,
  'whale'       : 123,
  'xeme'        : 843,
  'yak'         : 390,
  'zeebra'      : 173,
}

In [5]:
data.keys()

dict_keys(['aligator', 'bear', 'cheeta', 'dear', 'elephant', 'fox', 'giraffe', 'hippo', 'impala', 'jaguar', 'kangaroo', 'lion', 'moose', 'nightingale', 'ox', 'panda', 'quokka', 'rabbit', 'snake', 'tiger', 'unau', 'vulture', 'whale', 'xeme', 'yak', 'zeebra'])

In [13]:
animal_index_one = list(  zip(['animal' for i in range( len(data1.keys()) )], data1.keys())  )
animal_index_two = list(  zip(['qtt' for i in range( len(data2.keys()) )], data2.keys())  )
index = animal_index_one + animal_index_two
index

[('animal', 'aligator'),
 ('animal', 'bear'),
 ('animal', 'cheeta'),
 ('animal', 'dear'),
 ('animal', 'elephant'),
 ('animal', 'fox'),
 ('animal', 'giraffe'),
 ('animal', 'hippo'),
 ('animal', 'impala'),
 ('animal', 'jaguar'),
 ('animal', 'kangaroo'),
 ('animal', 'lion'),
 ('animal', 'moose'),
 ('animal', 'nightingale'),
 ('animal', 'ox'),
 ('animal', 'panda'),
 ('animal', 'quokka'),
 ('animal', 'rabbit'),
 ('animal', 'snake'),
 ('animal', 'tiger'),
 ('animal', 'unau'),
 ('animal', 'vulture'),
 ('animal', 'whale'),
 ('animal', 'xeme'),
 ('animal', 'yak'),
 ('animal', 'zeebra'),
 ('qtt', 'aligator'),
 ('qtt', 'bear'),
 ('qtt', 'cheeta'),
 ('qtt', 'dear'),
 ('qtt', 'elephant'),
 ('qtt', 'fox'),
 ('qtt', 'giraffe'),
 ('qtt', 'hippo'),
 ('qtt', 'impala'),
 ('qtt', 'jaguar'),
 ('qtt', 'kangaroo'),
 ('qtt', 'lion'),
 ('qtt', 'moose'),
 ('qtt', 'nightingale'),
 ('qtt', 'ox'),
 ('qtt', 'panda'),
 ('qtt', 'quokka'),
 ('qtt', 'rabbit'),
 ('qtt', 'snake'),
 ('qtt', 'tiger'),
 ('qtt', 'unau'),
 ('qtt', 'vulture'),
 ('qtt', 'whale'),
 ('qtt', 'xeme'),
 ('qtt', 'yak'),
 ('qtt', 'zeebra')]

In [26]:
mul_index = pd.MultiIndex.from_tuples(index)

In [27]:
values = list(data1.values()) + list(data2.values())
result = pd.Series(values, index=mul_index)
result

animal  aligator        10
        bear            83
        cheeta         120
        dear            80
        elephant       150
        fox            130
        giraffe         75
        hippo           67
        impala          81
        jaguar         119
        kangaroo        98
        lion           134
        moose           99
        nightingale     22
        ox             106
        panda           88
        quokka         139
        rabbit          89
        snake           22
        tiger          150
        unau           111
        vulture         63
        whale          148
        xeme            56
        yak            102
        zeebra         107
qtt     aligator       113
        bear           222
        cheeta         136
        dear           144
        elephant       143
        fox            165
        giraffe        199
        hippo          427
        impala         155
        jaguar         124
        kangaroo       143
        lion           320
        moose          143
        nightingale    169
        ox             170
        panda          128
        quokka         423
        rabbit         228
        snake          153
        tiger          303
        unau           183
        vulture        423
        whale          123
        xeme           843
        yak            390
        zeebra         173
dtype: int64

In [30]:
print( result['animal'] )
print( result['qtt'] )

aligator        10
bear            83
cheeta         120
dear            80
elephant       150
fox            130
giraffe         75
hippo           67
impala          81
jaguar         119
kangaroo        98
lion           134
moose           99
nightingale     22
ox             106
panda           88
quokka         139
rabbit          89
snake           22
tiger          150
unau           111
vulture         63
whale          148
xeme            56
yak            102
zeebra         107
dtype: int64
aligator       113
bear           222
cheeta         136
dear           144
elephant       143
fox            165
giraffe        199
hippo          427
impala         155
jaguar         124
kangaroo       143
lion           320
moose          143
nightingale    169
ox             170
panda          128
quokka         423
rabbit         228
snake          153
tiger          303
unau           183
vulture        423
whale          123
xeme           843
yak            390
zeebra         173
dtype: int64

In [32]:
result['animal'].sum()

2449

In [34]:
result['qtt'].sum()

6143

In [39]:
result['animal'][0::6].sum()

308