In [2]:
import numpy as np
import pandas as pd

nrandom = np.random
nrandom.rand(4, 2)
nrandom.randint(10)
nrandom.randint(10, 20)
nrandom.randint(10, 20, size=10)
nrandom.randint(10, 20, size=(3, 5))
nrandom.randn(4, 2)
np.sort(nrandom.choice(46, 6, replace=False))
np.sort(nrandom.choice(46, 6, replace=True))
np.unique( np.sort(nrandom.choice(46, 6, replace=True)) )

array([ 0, 19, 20, 43, 44])

In [3]:
df = pd.DataFrame(np.random.randint(50,100,size=(4,3)), index=[ ['1grade', '1grade', '2grade', '2grade'],['1class', '2class', '1class', '2class'] ], columns=[ 'Korean','English','Math', ])
df

               Korean  English  Math
1grade 1class      67       92    76
       2class      93       58    89
2grade 1class      79       98    97
       2class      77       77    50

In [10]:
sdf = pd.DataFrame(np.random.randint( 50,100,size=(4,3)))
sdf

    0   1   2
0  50  95  90
1  58  90  70
2  62  92  85
3  97  90  62

In [16]:
 sdf.index = [['1g', '1g', '2g', '2g'], ['1c', '2c', '1c', '2c']]
 sdf.columns = [['language', 'language', 'science'], ['K', 'E', 'M']]
 sdf

      language     science
             K   E       M
1g 1c       50  95      90
   2c       58  90      70
2g 1c       62  92      85
   2c       97  90      62

In [20]:
sdf['language']
sdf.loc['1g']
# sdf.loc['1g']['1c'] // error
sdf.loc['1g','1c']

language  K    50
          E    95
science   M    90
Name: (1g, 1c), dtype: int64