In [30]:
import numpy as np
import pandas as pd

a = pd.Series(['A','B','C','D','E',], index=range(1,6))
b = pd.Series(['A','B','C','D','E',], index=range(1,6))
c = pd.Series(['A','B','C','D','E',], index=range(1,6))

In [31]:
con = pd.concat([a, b, c])
print(con)
con[5]

1    A
2    B
3    C
4    D
5    E
1    A
2    B
3    C
4    D
5    E
1    A
2    B
3    C
4    D
5    E
dtype: object

5    E
5    E
5    E
dtype: object

In [32]:
con = pd.concat([a, b, c], verify_integrity=False, ignore_index=True)
print(con)
con[5]

0     A
1     B
2     C
3     D
4     E
5     A
6     B
7     C
8     D
9     E
10    A
11    B
12    C
13    D
14    E
dtype: object

'A'

In [33]:
con = pd.concat([a, b, c], verify_integrity=False, ignore_index=True, copy=True) # deep copy. so the value is so far not refer to original, just copy and more in charge of memory.

In [34]:
con = pd.concat([a, b, c], verify_integrity=False, ignore_index=True, copy=False, axis=1)
con

   0  1  2
1  A  A  A
2  B  B  B
3  C  C  C
4  D  D  D
5  E  E  E

In [37]:
print(a)

a = pd.concat([a, pd.Series(['F'])], ignore_index=True)

con = pd.concat([a, b, c], axis=1)
con

0    A
1    B
2    C
3    D
4    E
5    F
6    F
dtype: object

   0    1    2
0  A  NaN  NaN
1  B    A    A
2  C    B    B
3  D    C    C
4  E    D    D
5  F    E    E
6  F  NaN  NaN
7  F  NaN  NaN

In [38]:
con = pd.concat([a, b, c], axis=1, join='inner')
con

   0  1  2
1  B  A  A
2  C  B  B
3  D  C  C
4  E  D  D
5  F  E  E