In [105]:
l = [1, 2, 1.5, 'A', True]
l

[1, 2, 1.5, 'A', True]

In [106]:
l[1:4]

[2, 1.5, 'A']

In [107]:
l[0] = 100
l

[100, 2, 1.5, 'A', True]

In [108]:
l.append(7)
l

[100, 2, 1.5, 'A', True, 7]

In [109]:
l.sort()
# l

TypeError: '<' not supported between instances of 'str' and 'float'

In [ ]:

a = [ 8, 4, 6, 0, 3, 5, 2, 5, 3, 3, 7, 9, 2, 6, 3, 4, 1 ]
a.sort()
print( a )
a.reverse()
print( a )

[0, 1, 2, 2, 3, 3, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 9]
[9, 8, 7, 6, 6, 5, 5, 4, 4, 3, 3, 3, 3, 2, 2, 1, 0]

In [ ]:
del a[6]
a

[9, 8, 7, 6, 6, 5, 4, 3, 3, 3, 3, 2, 2, 1, 0]

In [ ]:
b = [10, 45, 67, 89, 24, 6, 78, 9 ]
a + b

[9, 8, 7, 6, 6, 5, 4, 3, 3, 3, 3, 2, 2, 1, 0, 10, 45, 67, 89, 24, 6, 78, 9]

In [ ]:
a * 3

[9,
 8,
 7,
 6,
 6,
 5,
 4,
 3,
 3,
 3,
 3,
 2,
 2,
 1,
 0,
 9,
 8,
 7,
 6,
 6,
 5,
 4,
 3,
 3,
 3,
 3,
 2,
 2,
 1,
 0,
 9,
 8,
 7,
 6,
 6,
 5,
 4,
 3,
 3,
 3,
 3,
 2,
 2,
 1,
 0]

In [ ]:
print( sorted(a) )
print( a )

[0, 1, 2, 2, 3, 3, 3, 3, 4, 5, 6, 6, 7, 8, 9]
[9, 8, 7, 6, 6, 5, 4, 3, 3, 3, 3, 2, 2, 1, 0]

In [ ]:
print( type( (1) ) )
print( type( (1,) ) )

<class 'int'>
<class 'tuple'>

In [ ]:
t = (1, 2, 3, 4)
print( t[1] )
# t[0] = 5

2

In [ ]:
s = set([1, 2, 3])
s2 = {1, 2, 3}
print( type(s2) )

<class 'set'>

In [ ]:
# s[0]
list(s)[0]
next( iter(s) )

1

In [ ]:
s.add(4)
s

{1, 2, 3, 4}

In [110]:
s.clear()
s

set()

In [113]:
s = {1, 2, 3, 4}
e = {3, 4, 6, 7}
print( s, e )

{1, 2, 3, 4} {3, 4, 6, 7}

In [116]:
s.intersection(e)
s.union(e)
s.difference(e)

{1, 2}