In [2]:
sAndI = "My age is " + str(36) + " years"
sAndI

'My age is 36 years'

In [5]:
f = 12.5764398
ff = format("%0.2f" % (f,))
ff

'12.58'

In [3]:
l = [1,1,1,1,1,1,2,2,2,3,3,3,3,4,4,5,765,676,78,8,]
print( set(l) )

{1, 2, 3, 4, 5, 676, 8, 78, 765}

In [19]:
s = "WELCOME TO PYTHON"
print( "|| {0:<50} ||".format(s) )
print( "|| {0:>50} ||".format(s) )
print( "|| {0:^50} ||".format(s) )

print( "|| {0:!<50} ||".format(s) )
print( "|| {0:?>50} ||".format(s) )
print( "|| {0:#^50} ||".format(s) )

|| WELCOME TO PYTHON                                  ||
||                                  WELCOME TO PYTHON ||
||                 WELCOME TO PYTHON                  ||
|| WELCOME TO PYTHON!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! ||
|| ?????????????????????????????????WELCOME TO PYTHON ||
|| ################WELCOME TO PYTHON################# ||

In [24]:
w = 'friday'
m = 'Nov'
d = 5

print( f'Today is {m} {d}th {w:^8}' )

Today is Nov 5th  friday

In [32]:
s = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere ex eligendi dolores cumque eum iure. Possimus quo laboriosam accusamus voluptatum veniam perspiciatis voluptatem reiciendis animi est nam? Facilis, consequatur quo?"
# s.search('L')
s.index('a')
s.find('a')
'a' in s

True

In [34]:
if 0 :
    print('0')
else :
    print('else')

else

In [37]:
s.find('bfiurewabveuijran')

-1

In [40]:
"!".join("kjfgnerkgnverlk")

'k!j!f!g!n!e!r!k!g!n!v!e!r!l!k'

In [42]:
l1 = [1, 2, 3, 4]
l2 = l1
l1[0] = 100

print(l1, l2)

[100, 2, 3, 4] [100, 2, 3, 4]

In [45]:
l1 = [1, 2, 3, 4]
l2 = list(l1)
l1[0] = 100

print(l1, l2)

[100, 2, 3, 4] [1, 2, 3, 4]

In [63]:
d1 = {"apple": "red", "banana": "yellow", "cherry": "dark-red"}

print( type( d1.items() ) )

for i in d1.items():
    print( i, type( i ) )

# list( d1.items() )

<class 'dict_items'>
('apple', 'red') <class 'tuple'>
('banana', 'yellow') <class 'tuple'>
('cherry', 'dark-red') <class 'tuple'>

In [69]:
d2 = dict( {(1,4) : True} )
print( d2[(1, 4)] )

True